<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Editar curso</h1>
    </div>
    <div class="content">
      <!--Inicio de Navbar-->
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" [routerLink]="['/home']">Inicio</a>
            </li>
            <li ngbDropdown class="nav-item dropdown">
              <a
                ngbDropdownToggle
                class="nav-link dropdown-toggle active"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Profesor
              </a>
              <div
                ngbDropdownMenu
                class="dropdown-menu"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a
                    ngbDropdownItem
                    class="dropdown-item"
                    [routerLink]="['/signin']"
                    >Crear</a
                  >
                </li>
                <li>
                  <a
                    ngbDropdownItem
                    class="dropdown-item"
                    [routerLink]="['/mostrar']"
                    >Mostrar</a
                  >
                </li>
              </div>
            </li>
            <li ngbDropdown class="nav-item dropdown">
              <a
                ngbDropdownToggle
                class="nav-link dropdown-toggle active"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Alumno
              </a>
              <div
                ngbDropdownMenu
                class="dropdown-menu"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a
                    ngbDropdownItem
                    class="dropdown-item"
                    [routerLink]="['/crearAlumno']"
                    >Crear</a
                  >
                </li>
                <li>
                  <a
                    ngbDropdownItem
                    class="dropdown-item"
                    [routerLink]="['/mostraralumno']"
                    >Mostrar</a
                  >
                </li>
              </div>
            </li>
            <li ngbDropdown class="nav-item dropdown">
              <a
                ngbDropdownToggle
                class="nav-link dropdown-toggle active"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Curso
              </a>
              <div
                ngbDropdownMenu
                class="dropdown-menu"
                aria-labelledby="navbarDropdown"
              >
                <li>
                  <a
                    ngbDropdownItem
                    class="dropdown-item"
                    [routerLink]="['/crearCurso']"
                    >Crear</a
                  >
                </li>
                <li>
                  <a
                    ngbDropdownItem
                    class="dropdown-item"
                    [routerLink]="['/mostrarCurso']"
                    >Mostrar</a
                  >
                </li>
              </div>
            </li>
          </ul>
        </div>
      </nav>
      <!--Final de Navbar-->
    </div>
    <br />
    <br />
    <!--Inicio de Barra de navegación-->

    <!--Fin Barra de navegación-->
    <br />
    <br />
  </div>
</div>
<div class="container">
  <div class="progress" *ngIf="cargar">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      aria-valuenow="100"
      style="width: 100%"
    ></div>
  </div>
  <!--Inicio de Creación de usuarios-->
  <div class="row">
    <div class="col-md-12">
      <!--Inicio de formulario-->
      <form (ngSubmit)="guardar()" id="formulario">
        <div class="form-group">
          <label>Id curso:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="curso.idcurso"
            [ngModelOptions]="{ standalone: true }"
            readonly
            required
          />
        </div>
        <div class="form-group">
          <label>Nombre:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="curso.nombre"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="form-group">
          <label>Fecha de inicio:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="curso.fechaDeInicio"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="form-group">
          <label>Fecha de fin:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="curso.fechaFin"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="form-group">
          <label>Día:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="curso.dia"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="form-group">
          <label>Hora de inicio:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="curso.horaInicio"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="form-group">
          <label>Hora de fin:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="curso.horaFin"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </div>
        <div class="form-group">
            <label>Profesor:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="curso.profesor"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </div>
          <div class="form-group">
            <label>id profesor:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="curso.profesorIdprofesor"
              [ngModelOptions]="{ standalone: true }"
              required
            />
          </div>
       
        <br />
        <input type="submit" class="btn btn-success" value="Guardar" />
      </form>

      <!--Fin del formulario-->
      <hr />
    </div>
  </div>
</div>
