<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Perfil Profesor</h1>
    </div>

    <div class="content">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" [routerLink]="['/menu']">Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" [routerLink]="['/consultacurso']"
                >Consulta Cursos</a
              >
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" [routerLink]="['/consultaalumno']"
                >Consuta de alumnos asignados</a
              >
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" [routerLink]="['/notafinal']"
                >Ingreso Nota Final</a
              >
            </li>
            <li class="nav-item">
              <a Mi class="nav-link active" [routerLink]="['/perfilprofe']"
                >Mi Perfil</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form (ngSubmit)="guardar()" id="formulario">
          <div class="form-group">
            <label>Id:</label>
            <input
              type="text"
              maxlength="8"
              class="form-control"
              [(ngModel)]="profesor.idProfesor"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </div>
          <div class="form-group">
            <label>Usuario:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="profesor.usuario"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </div>
          <div class="form-group">
            <label>Nombre:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="profesor.nombre"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </div>
          <div class="form-group">
            <label>Apellido:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="profesor.apellido"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </div>
          <div class="form-group">
            <label>Telefono:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="profesor.telefono"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </div>
          <div class="form-group">
            <label>Contraseña:</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="profesor.contrasena"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
            <br>
          <input type="submit" class="btn btn-success" value="Cambiar contraseña">
        </form>
      </div>
    </div>
  </div>
</div>
