<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Detalle alumno</h1>
    </div>

    <div class="content">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" [routerLink]="['/menu']">Inicio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" [routerLink]="['/consultacurso']"
                >Consulta Cursos</a
              >
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" [routerLink]="['/consultaalumno']"
                >Consuta de alumnos asignados</a
              >
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link active" [routerLink]="['/notafinal']"
                >Ingreso Nota Final</a
              >
            </li>
            <li class="nav-item">
              <a Mi class="nav-link active" [routerLink]="['/perfilprofe']"
                >Mi Perfil</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Carné</th>
          <th>Nombre</th>
          <th>Apellido</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <th scope="row">
            {{ alumno.idalumno }}
          </th>
          <th scope="row">
            {{ alumno.carne}}
          </th>
          <th scope="row">
            {{ alumno.nombre}}
          </th>
          <th scope="row">
            {{ alumno.apellido}}
          </th>
        </tr>
      </tbody>
    </table>
    <div class="d-grid gap-2 d-md-block">
    <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="regresar()"
              >
              Regresar  
              </button>
            </div>
  </div>
</div>
