<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Mostrar profesores</h1>
    </div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" [routerLink]="['/signin']">Crear</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/mostrar']">Mostrar</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="col-md-12">
        <hr />
        <table class="table">
            <thead>
                <tr>
                    <th>idProfesor</th>
                    <th>Usuario</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Contraseña</th>
                    <th>Telefono</th>
                    <th>Cursos</th>
                </tr>
            </thead>
            <tbody>
              
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
