<div class="container">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap"
    rel="stylesheet"
  />
  <div class="content">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link active" [routerLink]="['/home']">Inicio</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <hr />
      <div class="centrar">
        <label>Universidad Mariano Galvez de Guatemala</label>
        <br />
        <label>Nombre: Oscar Eduardo Escobar Santos</label>
        <br />
        <label>Carne: 3190-20-6981</label>
        <br />
        <label>Curso: Programación II</label>
        <br />
      </div>
    </div>
  </div>
</div>
